{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <br><br>
    <div class="card mb-3 text-center border-primary">
      <div class="card-body">
        <h3>Password reset complete</h3>
        <p>
          Your new password has been set. You can log in now using your new passsword on the
          <a href="{% url 'login' %}">log in page</a>.</p>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>

{% endblock %}
