{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
{% include "navbar.html" %}


{% if not user_can_continue %}

<div class="row mt-5">
  <!-- Gust user form in checkout view -->
  <div class="col-sm-5">
    <h5>Continue as Guest</h5>
    <form  method="post" action="{% url 'checkout' %}"> {% csrf_token %}
      {% bootstrap_form guest_form %}
      <input type="submit"  class="btn btn-outline-success" value="continue as guest"/>
    </form>
  </div>

  <!--middle div  -->
  <div class="col-sm-2"></div>

  <!-- User login form in checkout view -->
  <div class="col-sm-5">
    <h5>Continue as user</h5>
    <form method="post" action="{% url 'login' %}"> {% csrf_token %}
      {% bootstrap_form login_form %}
      <!--if this type of input given then login view redirect to the next_url  -->
      <input type="hidden" name="next" value="{{next_url}}">
      <input type="submit" class="btn btn-outline-primary" value="Login"/>
    </form>

  </div>
</div>

<!-- else it show the order details -->
{% else %}
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="card mx-auto mt-5 text-center" style="" >
      <div class="card-header">
        <p class="lead">Orders deatils</p>
      </div>
      <ul class="list-group list-group-flush">
        <!-- All the products -->
        <li class="list-group-item">
          {% for product in order.cart.cartitem_set.all %}
            {{ product.get_product_title }}-{{ product.get_variation_title }}-{{ product.quantity }}pice{{ product.quantity|pluralize }} <br>
          {% endfor %}
        </li>


        <li class="list-group-item">Cart subtotal: {{ order.cart.subtotal }}</li>
        <li class="list-group-item">Tax {{ order.cart.tax_total }}</li>
        <li class="list-group-item">Item total: {{ order.cart.total }}</li>
        <li class="list-group-item">Shipping cost: {{ order.shipping_total_price }}</li>
        <li class="list-group-item">Order total: {{ order.order_total }}</li>
        <li class="list-group-item">Billing  to: {{ order.billing_address.get_address }}</li>
        <li class="list-group-item">Shipping to: {{ order.shipping_address.get_address }}</li>
        <li class="list-group-item">
          <form action="{% url 'final_checkout' %}" method="POST">{% csrf_token %}
            <input type="hidden" name="payment_token" value="abc">
            <input type="submit" name="Complete Order">
          </form>
        </li>
      </ul>



    </div>
  </div>


</div>


{% endif %}
{% endblock %}
