{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<br>
{% if object.cartitem_set.count < 1 %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h4 class="">Your cart is empty</h4>
      <a href="{% url "products" %}">Continue Shopping</a>
    </div>
  </div>
</div>

{% else %}
  <h5>All the product on your cart</h5><br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No. of products</th>
        <th scope="col">Product name</th>
        <th scope="col">Variation</th>
        <th scope="col">Quantity</th>
        <th scope="col" class="text-right">Price</th>
        <th scope="col" class="text-right">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object.cartitem_set.all %}
      <tr id="row-{{item.item.id}}">

          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ item.get_product_title }}</td>
          <td>{{ item.get_variation_title }}</td>
          <td>
            <form id="cart-quantity"action="." method="GET">
               <input type="hidden" name="item" value="{{ item.item.id }}">
               <input type="number" name="qty" value="{{ item.quantity }}" class="item-qty">
               <!-- <input type="submit" value="update item" style="display:none;" class="btn-update"> -->
            </form>
           </td>
           <td id="item-{{ item.item.id }}" class="text-right">{{ item.line_item_total }}</td>
          <td id="{{ item.item.id }}"class="text-right delete-item"><a href="{{ item.remove }}"><i class="far fa-trash-alt"></i></a></td>

      </tr>
      {% endfor %}

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td  class="text-right">Subtotal: <span id="subtotal">{{ object.subtotal }}</span></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td  class="text-right">Tax total: <span id="taxTotal">{{ object.tax_total }}</span></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td  class="text-right">Total: <span id="total">{{ object.total }}</span></td>
        <td></td>
      </tr>
    </tbody>
  </table>
{% endif %}


{% endblock content %}
{% block jquery %}
<script>
//When click the quantity form it shows the update button
// $(".item-qty").click(function(){
//   $(this).next(".btn-update").fadeIn();
// });

// Ajax functionality to for auto updating quaity, line total, Subtotal
$(".item-qty").change(function(event){
  event.preventDefault();
  var item = $(this).prev("input[type=hidden]").val()
  var qty = $(this).val()
  console.log(item, qty);

// you can also use the serialize function to serialize the form data.
// the below serialize function do the same thing as the above.
  // var formData = $("#cart-quantity").serialize();
  // console.log(formData)

  $.ajax({
    type: "GET",
    url: {% url "cart" %},
    data:{
      item: item,
      qty:qty,
    },

    success:function(data){
      console.log(data);
      if (data.delete_item){
        $("#row-"+item).fadeOut();
      } else {
        $("#subtotal").text(data.subtotal);
        $("#item-"+item).text(data.line_total);
        $("#taxTotal").text(data.tax_total)
        $("#total").text(data.total)

      };
      // show the flash mesage
      ShowFlashMessage(data.flash_message)
    },
    error:function(response,error){
      console.log(response);
      console.log(error);
    }
  });
})
</script>
{% endblock %}
