{% extends 'base.html' %}
<!-- load bootstrap4 template tag library -->
{% load bootstrap4 %}
{% block content %}
  <div class="row">
    <div class="col d-flex h-custom">
      <!-- content -->
      <div class="mx-auto my-auto" style="width: 28rem;">

        <!-- card  -->
        <div class="card shadow">
          <div class="card-body">
            <h3 class="card-title text-center info">Password change</h3>
            <p class="card-text">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="POST">
              {% csrf_token %}
              {% bootstrap_form form %}
              <input class="btn btn-outline-info btn-custom" type="submit" value="Change my password">
            </form>
          </div>
        </div>
        <!-- card end -->

      </div>
      <!-- content end -->
    </div>
  </div>
{% endblock %}
