{% extends 'base.html' %}
<!-- load bootstrap4 template tag -->
{% load bootstrap4 %}
{% block content %}
<div class="row">
  <div class="col d-flex h-custom">

    <!--content  -->
    <div class="mx-auto my-auto" style="width: 28rem;">
      <!-- Card -->
      <div class="card shadow">
        <div class="card-body">
          <h3 class="Card-title info">Set a new password!</h3>
          <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
          <input class="btn  btn-outline-info btn-custom" type="submit" value="Change my password">
          </form>
        </div>
      </div>
      <!--Card end  -->
    </div>
    <!--content end  -->

  </div>
</div>
{% endblock %}
