{% extends 'base.html' %}

{% block title %}Password Change Successful{% endblock %}

{% block content %}
<div class="row">
  <div class="col d-flex  h-custom">
    <!-- content -->
    <div class="mx-auto my-auto" style="width: 28rem;">

      <!-- card  -->
      <div class="card shadow ">
        <div class="card-body">
          <h3 class=" card-title info">Password change successful</h3>
          <p class="card-text">Your password was changed.So next time use that password to login.!!</p>
        </div>
      </div><!-- card end -->

      <ul class="list-inline mt-3">
        <li class="list-inline-item">Terms</li>
        <li class="list-inline-item">Privecy</li>
        <li class="list-inline-item">Security</li>
        <li class="list-inline-item">Contact News</li>
      </ul>

    </div><!-- content end -->

  </div>
</div>
{% endblock content %}
