{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col d-flex h-custom">
    <!--Content  -->
    <div class="mx-auto my-auto" style="width: 28rem;">
      <!--Card  -->
      <div class="card shadow text-center">
        <div class="card-body">
          <h3 class="card-title info">Check your inbox.</h3>
          <p class="card-text">We've emailed you instructions for setting your password. You will receive the email shortly!</p>
        </div>
      </div>
      <!--Card end  -->
    </div>
    <!--Content end  -->
  </div>
</div>

{% endblock %}
