{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
<div class="row">
  <div class="col d-flex h-custom">
    <!--content  -->
    <div class="mx-auto my-auto" style="width: 28rem;" >

      <!-- Card  -->
      <div class="card text-center shadow">
        <div class="card-body">
          <h3 class="card-title">Password reset complete</h3>
          <p class="card-text">
            Your new password has been set. You can log in now using your new passsword on the
            <a class="info" href="{% url 'login' %}">log in page</a>
          </p>
        </div>
      </div>
      <!-- Card end -->

    </div>
    <!--content end  -->
  </div>
</div>
{% endblock %}
