{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
{% include "navbar.html" %}




{% if not user_can_continue %}

<div class="row mt-5">
  <!-- Gust user form in checkout view -->
  <div class="col-sm-5">
    <h5>Continue as Guest</h5>
    <form  method="post" action="{% url 'checkout' %}"> {% csrf_token %}
      {% bootstrap_form guest_form %}
      <input type="submit"  class="btn btn-outline-success" value="continue as guest"/>
    </form>
  </div>

  <!--middle div  -->
  <div class="col-sm-2"></div>

  <!-- User login form in checkout view -->
  <div class="col-sm-5">
    <h5>Continue as user</h5>
    <form method="post" action="{% url 'login' %}"> {% csrf_token %}
      {% bootstrap_form login_form %}
      <!--if this type of input given then login view redirect to the next_url  -->
      <input type="hidden" name="next" value="{{next_url}}">
      <input type="submit" class="btn btn-outline-primary" value="Login"/>
    </form>

  </div>
</div>

<!-- else it show the order details -->
{% else %}
<div class="row">
  <div class="col-sm-7 offset-sm-2">
    <div class="card mx-auto mt-5 text-center" style="" >
      <div class="card-header">
        <p class="lead float-left">Orders details</p>
      </div>

      <!-- Taking the order summary template. -->
      {% include "orders/order_summery.html" with order=order %}
    </div><br>


  </div>
  <div class="col-sm-3">
    <!--Braintree form  in bootstrap card  -->
    <div class="card mt-5" style="width: 18rem;">
      <div class="card-body">
        <form id="checkout" action="{% url 'final_checkout' %}" method="POST" class="float-right">{% csrf_token %}
          <!-- <input type="hidden" name="payment_token" value="abc"> -->
          <div id="payment-form"></div>
          <input type="submit" class="btn btn-outline-success" name="Complete Order" value="Complete Order">
        </form>
      </div>
    </div><br>
  </div>

</div>


{% endif %}
{% endblock %}

<!-- Braintree integration  -->
{% block jquery %}
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = "{{ client_token }}"
braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
{% endblock %}
