{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock %}
{% block content %}
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <br><br>
    <h3 class="text-center">Set a new password!</h3>
    <div class="card mb-3  border-primary">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
        <input class="btn  btn-outline-primary" type="submit" value="Change my password">
        </form>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>
{% endblock %}
