{% extends 'base.html' %}

{% block title %}Password Change Successful{% endblock %}

{% block content %}
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <br><br>
    <div class="card border-primary mb-3 text-center">
      <div class="card-body">
        <h3>Password change successful</h3>
        <p>Your password was changed.So next time use that password to login.!!</p>
      </div>
    </div>
    <br><br><br>
    <ul class="list-inline text-center">
      <li class="list-inline-item">Terms</li>
      <li class="list-inline-item">Privecy</li>
      <li class="list-inline-item">Security</li>
      <li class="list-inline-item">Contact News</li>
    </ul>
  </div>
  <div class="col-4"></div>
</div>



{% endblock content %}
