{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}


  <div class="jumbotron">
    <div class="row">
      <!--product title and product image area  -->
      <div class="col-sm-8">
        <p>{{ object.title }}</p>
        {% if object.productimage_set.count > 0 %}
        <div>
          {% for img in object.productimage_set.all %}
           <img src="{{ img.image.url }}" alt="image is loaded">

          {% endfor %}
        </div>
        {% endif %}
        <p>{{ object.descripttion }}</p>
      </div>

      <!-- product price and variation area, social, and related product area -->
      <div class="col-sm-4">
        <!--coming price from selected variation using jquery below  -->

        <!--if product variation exist without default, then it shows those variations  -->
        <form id="form-product-detail" method="GET" action="{% url 'cart' %}">
            <p id="jquery-message"></p>
            {% if object.variation_set.count > 1 %}
              <p id="price"></p>
              <select name="item" class="custom-select variation-select form-control"">
                {% for vari in object.variation_set.all %}
                  <option data-price={{vari.price}} value="{{ vari.id }}">{{ vari }}</option>
                {% endfor %}
              </select>
              <p class="mt-2">Quntity</p>
              <input type="number" class="form-control" name="qty" value="1">
            {% else %}
              <p>Price {{ object.variation_set.first.price }}</p>
              <input type="hidden" name="item" value="{{ object.variation_set.first.id }}">
              <input type="number" class="form-control" name="qty" value="1">
            {% endif %}
            <br>
            <br>
            <input id="submit-button" type="submit" class="btn btn-outline-success" value="Add to Cart">
        </form>

            <p>Share on social media</p>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fab fa-facebook-f"></i></a>
            <!--related product area  -->
            <p>Related product</p>
            {% for product in related %}
            <div class="card float-left ml-2 mt-2" style="width: 8rem;">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.get_img_url }}" alt="Card image cap"></a>
              <div class="card-body">
                <a href="{{ product.get_absolute_url }}"><p class="card-text">{{ product.title }}</p></a>
              </div>
            </div>

              <!-- <a href="{{ product.get_absolute_url }}"><img src="{{ product.get_img_url }}" class="rounded float-left ml-2" alt="" style="width:4rem;height:4rem;"><p>{{ product.title }}</p></a> -->
            {% endfor %}
      </div>
    </div>
  </div>



{% endblock %}

{% block jquery %}
<script>

  // show the default variation price
  var price = $(".variation-select option:selected").attr('data-price')
  $("#price").text("Price ".concat(String(price)));

  // for changing the variation the price change accordingly
  $(".variation-select").change(function(){
    var price = $(".variation-select option:selected").attr('data-price')
    $("#price").text("Price ".concat(String(price)));
  });

  // Ajax form submission when click add to cart button
  $("#submit-button").click(function(event){
    event.preventDefault();
    var formData = $("#form-product-detail").serialize();
    console.log(formData);
    $.ajax({
      type: "GET",
      url: "{% url "cart" %}",
      data: formData,
      success:function(data){
        console.log(data);
        ShowFlashMessage("Added to the cart.");
      },
      error:function(response, error){
        console.log(response);
        console.log(error);
      }
    });
  });


</script>
{% endblock %}
