{% extends 'base.html' %}
{% block content %}
  {% include 'navbar.html' %}
  <!-- featured image slider -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      {% for feature in featured_products %}
        <div class="carousel-item">
          <a href="{{ feature.get_absolute_url }}"><img class="d-block w-100" src="{{ feature.image.url }}" alt="First slide"></a>
        </div>
      {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--Featured image slider end  -->
  <!--All products start  -->
  {% for object in object_list %}
  <div class="card float-left ml-2 mt-2" style="width: 18rem;">
    <a href="{{ object.get_absolute_url }}"><img class="card-img-top" src="{{ object.get_img_url }}" alt="Card image cap"></a>
    <div class="card-body">
      <a href="{{ object.get_absolute_url }}"><p class="card-text">{{ object.title }}</p></a>
    </div>
  </div>
  {% endfor %}


  <!-- <table class="table">
    {% for object in object_list %}
    <tr>
      <td><a href="{{ object.get_absolute_url }}">{{object.title}}</a></td>
    </tr>
    {% endfor %}
  </table> -->
  <!--All product end  -->
{% endblock content %}

{% block jquery %}
<script>
  $(".carousel-inner .carousel-item:first").addClass('active')
</script>
{% endblock %}
